*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.box{
  width: 250px;
  height: 250px;
  background: red;
  display: none;
}
#sp1{

  width: 100%;
  background: rgba(5, 248, 5, 0.575);
  padding: 8px 15px;
  border-radius: 15px;
}

#sp2{
  display: none;
  width: 100%;
  background: red;
  padding: 8px 15px;
  border-radius: 15px;
}



  
